streamlit
crewai-tools
crewai
google-search-results
jupyter
git+https://github.com/openai/swarm.git
langchain-community
langchain-openai
langchain-anthropic
langchain-ollama
duckduckgo-search
onnxruntime
langgraph
datasets
matplotlib
openai-agents
smolagents
google-adk
ddgs
python-dotenv